---
import Layout from "../../layouts/Layout.astro";
import { type CollectionEntry, getCollection } from "astro:content";

// map though all products to create a page for each one
export async function getStaticPaths() {
  const products = await getCollection("products");

  return products.map((product) => ({
    params: { id: product.id },
    props: product
  }));
}
type Props = CollectionEntry<"products">;

// get the product data from the props to use in the template below. The actual data is in product.data
const product = Astro.props;
const data = product.data;
const title = data.name ?? data.Name ?? "Product";
const brandName = data.brand?.name ?? data.Brand?.Name ?? data.brand ?? data.Brand ?? "Brand";
const nameWithoutBrand = data.nameWithoutBrand ?? data.NameWithoutBrand ?? data.name ?? data.Name ?? "Product";
const imageSrc =
  data.images?.primaryExtraLarge ??
  data.Images?.PrimaryExtraLarge ??
  data.image ??
  data.Image ??
  "/banner.jpg";
const displayPrice = data.finalPrice ?? data.FinalPrice ?? data.price ?? data.ListPrice ?? "Price TBA";
const colorName = data.colors?.[0]?.colorName ?? data.Colors?.[0]?.ColorName ?? data.color ?? data.Color ?? "";
const description =
  data.descriptionHtmlSimple ??
  data.DescriptionHtmlSimple ??
  data.description ??
  data.Description ??
  "";
const productId = data.id ?? data.Id;
---
<Layout title = {title}>
    <script src="../../js/product.ts"></script>
  
    <!-- Product details will go here -->
    <section class="product-detail">
    <h3>{brandName}</h3>

    <h2 class="divider">{nameWithoutBrand}</h2>

    <img
        class="divider"
        src={imageSrc}
        alt={nameWithoutBrand}
    />

    <p class="product-card__price">{displayPrice}</p>

    <p class="product__color">{colorName}</p>

    <p class="product__description" set:html={description}>
        
    </p>

    <div class="product-detail__add">
        <button id="addToCart" data-id={productId}>Add to Cart</button>
    </div>
    </section>
  
</Layout>
